@import "./mixins";
@import "./variables";

.banner {
    display: grid;
    place-items: center;    
    justify-content: center;
    height: 500px; /* Set your desired height */
    position: relative; /* To position its children elements */
    background-color: transparent;
    width: clamp(200px, 100%, 1920px);
    
    .banner-controls{
        @include flexContainer(row);
        position: absolute;
        z-index: 4;
        width: 350px;
        //position at the bottom right of a full-screen
        bottom: 0;
        margin-bottom: 20px;
        margin-left: auto;
        justify-content: space-evenly;

    }


    .media-item {
        width: 100%;
        height: auto;
        object-fit: cover; /* Ensure the image fills the container */
        position: absolute;
        top: 0;
        left: 0;
        z-index: 1; /* Ensure it's below the text */
        //opacity: 0.5; /* Adjust the opacity as desired */
      }

      .logo{
        height: 200px;

      }

      .banner-content{
        height: 30%;
        width: 80%;
        position: absolute;
        left: 0;
        top: 40%;
        z-index: 3;
        @include flexContainer(row);

        #banner-msg{
            margin-bottom: 10px;
        }

      }

      .banner-social-media{
        height: 30%;
        width: 15%;
        @include flexContainer(column);

        


        
      }

      .banner-text {
        text-align: left;
        color: white; /* Adjust the text color */
        width: 100%;
        z-index: 3; /* Ensure it's above the image and overlay */

        h2 {
            font-size: 1.55rem; /* Adjust the font size */
            margin: 0;
            padding: 0;
        
        }

        #status{
            color: $primaryColor !important;
        }

        .apply-button{
            background-color: $primaryColor;
            color: white;
            border: 1px solid $primaryColor;
            width: 200px;
            font-size: 1.5rem;
            height: 40px;
            cursor: pointer;
            border-radius: 12.5px;

            &:hover{
                background-color: $hoverColor;
            }

        }

    }
    

}


body {
    margin: 0;
    padding: 0;
    font-family: 'Roboto', sans-serif;
    background-color: white;
    font-size: 1rem;
    line-height: 1.5;
    overflow-x: hidden;
    overflow-y: scroll;
}



 /* Banner overlay to create a black tint */
.banner-overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: #212121;
    opacity: 0.7; /* Adjust the overlay opacity */
    z-index: 2; /* Ensure it's above the image and below text */
}

/* Banner text styles */

@media screen and (max-width: 767px) {
    .banner-text {
        font-size: 1rem; /* Adjust the font size for smaller screens */
    }

    .banner {
        height: 400px; /* Set your desired height */

        .media-item {
          height: 400px;


        }

        .banner-content{
            height: 50%;
            width: 80%;
            position: absolute;
            left: 5%;
            top: 50%;
            z-index: 3;
            @include flexContainer(row);
    
          }
    
          .banner-social-media{
            height: 30%;
            width: 30%;
            @include flexContainer(column);
    
            
          }
    
          .banner-text {
            text-align: center;
            color: white; /* Adjust the text color */
            width: 100%;
            z-index: 3; /* Ensure it's above the image and overlay */
    
            h2 {
                font-size: 1.5rem; /* Adjust the font size */
                margin: 0;
                padding: 0;
            
            }
        }
    .banner-text {
            text-align: center;
            color: white; /* Adjust the text color */
            width: 100%;
            z-index: 3; /* Ensure it's above the image and overlay */
    
            h2 {
                font-size: 1.5rem; /* Adjust the font size */
                margin: 0;
                padding: 0;
            
            }
        }

    }
}


@media screen and (max-width: 450px) {

    .banner-text {
        font-size: 1rem; /* Adjust the font size for smaller screens */
    }

    .banner {
        height: 300px; /* Set your desired height */

        .media-item {
          height: 300px;


        }

    }
    

}





@media screen and (max-width: 2240px) {

    .banner { 
        height: 810px;
        .media-item{
            height: 810px;
        }


     }
 
 
 }