@import "./variables";
@import "./mixins";
@import "./navbar/navbar";
@import "./banner/banner"; 
@import "./about/about";
@import "./photocard/photocard";
@import "./program/program";
@import "./infocard/infocard";
@import "./summer/summer";
@import "./summer-card/summer-card";
@import "./photocard-v2/photocardv2";

#section-title{
    text-align: center;
    font-family: $font;
    font-size: 2rem;
    margin-bottom: 40px;
    margin-top: 40px;
    color: $primaryColor;
    text-transform: uppercase;
    font-weight: 700;
    text-shadow: 2px 2px 4px rgba(144, 144, 144, 0.5);
}

.section-content-photo{
    @include flexCenter(row);
    width: 100%;
}


@media screen and (max-width: 1100px){
    #section-title{
        margin-bottom: 25px;
    }
}
