.navbar {
  display: flex;
  flex-direction: row;
  /*make a dark and transparent background effect */
  background: linear-gradient(rgba(0, 0, 0, 0.25), rgba(0, 0, 0, 0.25));
  place-items: center;
  position: absolute; /* To position it over the banner */
  z-index: 10;
  top: 0;
  width: clamp(400px, 100%, 1920px);
  height: 10%;
}
.navbar .desktop-menu {
  margin-right: 2%;
}
.navbar a:first-child {
  margin-right: auto;
  margin-left: 2%;
}
.navbar .logo {
  height: 55px !important;
  margin-right: auto;
  cursor: pointer;
}
.navbar a {
  color: white;
  text-decoration: none;
  font-size: 1.2rem;
  font-weight: bold;
  margin: 0 0.5rem;
  padding: 0.5rem;
  transition: all 0.3s ease-in-out;
  cursor: pointer;
}
.navbar a:hover {
  color: rgb(115, 115, 115);
}
@media screen and (max-width: 767px) {
  .navbar a {
    margin: 0 0.1rem; /* Adjust margin for smaller screens */
    font-size: 1rem;
  }
  .navbar .logo {
    height: 40px !important;
    width: 100%;
    margin-right: auto;
  }
}
@media screen and (max-width: 450px) {
  .navbar .navbar {
    width: 100%; /* Ensure the navbar spans the full width of the screen */
    height: auto; /* Adjust height automatically */
    overflow-x: none;
  }
  .navbar .logo {
    height: 20px !important;
    width: auto;
    margin-right: auto;
  }
}

.mobile-menu {
  position: relative;
}

.hamburger {
  font-size: 24px;
  background: none;
  border: none;
  cursor: pointer;
}

.mobile-menu-options {
  display: none;
  position: absolute;
  top: 100%;
  right: 0;
  margin-left: auto;
  width: 150px;
  background: linear-gradient(rgba(0, 0, 0, 0.25), rgba(0, 0, 0, 0.25));
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
  color: white;
  border-radius: 4px;
  padding: 8px;
  animation: slide-down 0.3s ease-in-out;
}
.mobile-menu-options a {
  text-align: center;
}
.mobile-menu-options a:first-child {
  margin-right: 0 !important;
}
.mobile-menu-options a:hover {
  background: linear-gradient(rgba(0, 0, 0, 0.45), rgba(0, 0, 0, 0.45));
}

.mobile-menu-options.show {
  display: flex;
  flex-direction: column;
}

@keyframes slide-down {
  0% {
    opacity: 0;
    transform: translateY(-10px);
  }
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}
.banner {
  display: grid;
  place-items: center;
  justify-content: center;
  height: 500px; /* Set your desired height */
  position: relative; /* To position its children elements */
  background-color: transparent;
  width: clamp(200px, 100%, 1920px);
}
.banner .banner-controls {
  display: flex;
  flex-direction: row;
  position: absolute;
  z-index: 4;
  width: 350px;
  bottom: 0;
  margin-bottom: 20px;
  margin-left: auto;
  justify-content: space-evenly;
}
.banner .media-item {
  width: 100%;
  height: auto;
  -o-object-fit: cover;
     object-fit: cover; /* Ensure the image fills the container */
  position: absolute;
  top: 0;
  left: 0;
  z-index: 1; /* Ensure it's below the text */
}
.banner .logo {
  height: 200px;
}
.banner .banner-content {
  height: 30%;
  width: 80%;
  position: absolute;
  left: 0;
  top: 40%;
  z-index: 3;
  display: flex;
  flex-direction: row;
}
.banner .banner-content #banner-msg {
  margin-bottom: 10px;
}
.banner .banner-social-media {
  height: 30%;
  width: 15%;
  display: flex;
  flex-direction: column;
}
.banner .banner-text {
  text-align: left;
  color: white; /* Adjust the text color */
  width: 100%;
  z-index: 3; /* Ensure it's above the image and overlay */
}
.banner .banner-text h2 {
  font-size: 1.55rem; /* Adjust the font size */
  margin: 0;
  padding: 0;
}
.banner .banner-text #status {
  color: #D82E3B !important;
}
.banner .banner-text .apply-button {
  background-color: #D82E3B;
  color: white;
  border: 1px solid #D82E3B;
  width: 200px;
  font-size: 1.5rem;
  height: 40px;
  cursor: pointer;
  border-radius: 12.5px;
}
.banner .banner-text .apply-button:hover {
  background-color: #87242c;
}

body {
  margin: 0;
  padding: 0;
  font-family: "Roboto", sans-serif;
  background-color: white;
  font-size: 1rem;
  line-height: 1.5;
  overflow-x: hidden;
  overflow-y: scroll;
}

/* Banner overlay to create a black tint */
.banner-overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: #212121;
  opacity: 0.7; /* Adjust the overlay opacity */
  z-index: 2; /* Ensure it's above the image and below text */
}

/* Banner text styles */
@media screen and (max-width: 767px) {
  .banner-text {
    font-size: 1rem; /* Adjust the font size for smaller screens */
  }
  .banner {
    height: 400px; /* Set your desired height */
  }
  .banner .media-item {
    height: 400px;
  }
  .banner .banner-content {
    height: 50%;
    width: 80%;
    position: absolute;
    left: 5%;
    top: 50%;
    z-index: 3;
    display: flex;
    flex-direction: row;
  }
  .banner .banner-social-media {
    height: 30%;
    width: 30%;
    display: flex;
    flex-direction: column;
  }
  .banner .banner-text {
    text-align: center;
    color: white; /* Adjust the text color */
    width: 100%;
    z-index: 3; /* Ensure it's above the image and overlay */
  }
  .banner .banner-text h2 {
    font-size: 1.5rem; /* Adjust the font size */
    margin: 0;
    padding: 0;
  }
  .banner .banner-text {
    text-align: center;
    color: white; /* Adjust the text color */
    width: 100%;
    z-index: 3; /* Ensure it's above the image and overlay */
  }
  .banner .banner-text h2 {
    font-size: 1.5rem; /* Adjust the font size */
    margin: 0;
    padding: 0;
  }
}
@media screen and (max-width: 450px) {
  .banner-text {
    font-size: 1rem; /* Adjust the font size for smaller screens */
  }
  .banner {
    height: 300px; /* Set your desired height */
  }
  .banner .media-item {
    height: 300px;
  }
}
@media screen and (max-width: 2240px) {
  .banner {
    height: 810px;
  }
  .banner .media-item {
    height: 810px;
  }
}/*# sourceMappingURL=style.css.map */